@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.btn{
    width: 100%;
    padding: 10px;
    background-color: rgb(107, 209, 12);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
   
}

.btn:hover {
    background-color:rgb(94, 180, 14) ; 

}
h1{
    text-align: center;
    margin-bottom: 3%;
    font-family: Quicksand;
}

header {
    padding-bottom: 30px;
}