@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

html, body {
    font-family: 'Nunito', sans-serif;
    background: #f7fbfb;
    margin: 0;
    padding: 0;
}

/* Contenido general */
.contenido {
    width: 92%;
    margin: auto;
    margin-top: 40px;
}

/* ================================
   CAJA DEL TÍTULO
================================= */
.caja-titulo-inventario {
    background: #ffffff;

    width: 85%;
    margin: 0 auto 30px;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.10);
}

.caja-titulo-inventario h1 {
    color: #004d40;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* Botón exportar debajo del título */
.contenedor-exportar {
    margin-top: 10px;
}

.boton-exportar-verdePDF {
    background-color: #1B8E85;
    color: white;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    transition: .3s;
    width: 220px;
}

.boton-exportar-verdePDF:hover {
    background-color: #146A63;
}

/* ================================
   FILTROS MISMO ANCHO DEL TÍTULO
================================= */
.formulario-filtros {
    width: 85%;
    margin: 0 auto 35px;
    background: #ffffff;
    padding: 18px 25px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

.filtrar-usuarios {
    display: flex;
    justify-content: center;
    gap: 55px;
    align-items: center;
}

.filtrar-usuarios label {
    font-weight: 600;
    color: #0F4C75;
}

.filtrar-usuarios select {
    padding: 9px 45px;
    border-radius: 10px;
    border: 1px solid #b7e2df;
    background: #f9fefe;
}

.butn_filtro {
    background: #1B8E85;
    color: white;
    padding: 9px 22px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.butn_filtro:hover {
    background: #146A63;
}

/* ================================
   TABLA INVENTARIO
================================= */
#tabla1 {
    width: 95%;
    margin: 0 auto 40px;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    border-collapse: collapse;
}

#tabla1 thead {
    background: #1B8E85; /* Azul médico */
}

#tabla1 thead th {

    background: #1B8E85; /* Azul médico */
    color: white;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

#tabla1 tbody tr:nth-child(even) {
    background: #e7f3ff;
}

#tabla1 tbody tr:nth-child(odd) {
    background: white;
}

#tabla1 td {
    padding: 14px;
    text-align: center;
    font-size: 15px;
}

/* ================================
   BOTÓN AGREGAR MEDICAMENTO
================================= */
.boton-agregar-medicamento {
    display: block;
    margin: 25px auto 50px;
    padding: 12px 30px;
    font-size: 18px;
    background: #1B8E85 !important;
    border: none !important;
}

.boton-agregar-medicamento:hover {
    background: #146A63 !important;
}
