<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil del Usuario</title>
    <link rel="stylesheet" th:href="@{/css/1.estilos_pagina_inicio.css}">
    <link rel="stylesheet" th:href="@{/css/header-footer/header-footer.css}">
    <link rel="stylesheet" th:href="@{/css/perfil.css}">

    </head>
<body>

<!-- Header -->
<th:block th:replace="~{Layouts/header_footerPaciente :: header}"></th:block>



<!-- Contenedor del perfil -->
<div class="perfil-container">
    <h2>Mi Perfil</h2>

    <!-- Mensaje de éxito -->
    <div th:if="${mensajeExito}" class="mensaje-exito">
        <p th:text="${mensajeExito}"></p>
    </div>

    <form th:action="@{/perfil/paciente/actualizar}" th:object="${usuario}" method="post">
    <table class="perfil-table">
            <tr>
                <td>Nombre:</td>
                <td><input type="text" th:field="*{nombre}" /></td>
            </tr>
            <tr>
                <td>Rol:</td>
                <td th:text="${usuario.rol.nombreRol}"></td>
            </tr>
            <tr>
                <td>Tipo de Documento:</td>
                <td><input type="text" th:field="*{tipoDoc}" /></td>
            </tr>
            <tr>
                <td>Número de Documento:</td>
                <td><input type="text" th:field="*{numDoc}" /></td>
            </tr>
            <tr>
                <td>Dirección:</td>
                <td><input type="text" th:field="*{direccion}" /></td>
            </tr>
            <tr>
                <td>Teléfono:</td>
                <td><input type="text" th:field="*{telefono}" /></td>
            </tr>
            <tr>
                <td>Correo:</td>
                <td><input type="email" th:field="*{correo}" /></td>
            </tr>
        <tr>
            <td>Contraseña:</td>
            <td><input type="password" th:field="*{password}" placeholder="Nueva contraseña" minlength="6" /></td>
        </tr>

    </table>

        <div style="text-align:center; margin-top:20px;">
            <button type="submit">Actualizar</button>
        </div>
    </form>
</div>

<!-- Footer -->
<th:block th:replace="~{Layouts/header_footerPaciente :: footer}"></th:block>

</body>
</html>
